body {
  margin: 0;
  padding: 0;
}

#container {
  position:relative;
  touch-action: none;
  
}

.imagecontainer{
  height : 100% ; 
  width : 100% ; 
  overflow: hidden;
  object-fit:fill;
  transition :cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: 0.3s;
}

 .imagecontainer :hover img { 
  transform : scale(1.1) ;
  opacity : 0.5 ;
  z-index :2;
 }

 img { 
  height : 100% ; 
  width : 100% ; 
 }

